
{% extends 'website/dependencies.html' %}

{% block content %}

<div class="container ">
<h1>Products</h1>
<div class="card-columns" style="padding: 10px; margin: 20px; ">
{% for p  in products%}
    <div class="card" style="width: 20rem; border:5px black solid; ">
        <img class="card-img-top" style="height: 50%;" src="{{p.image.url}}" alt="Card image cap">
        <div class="card-body" style="height: 40%">
        <h5 class="card-title">{{p.name}}</h5>
        <p class="card-text">{{p.description}}</p>
        </div>
    </div>
 {% endfor %}

</div>
{% endblock %}
 
